/******************** add edit页 处理layui和bootstrap冲突 ****************************/
.layui-elem-field legend {
    margin-left: 40px;
!important;
    border: none;
!important;
    width: 100px;
!important;
}

/******************** add edit页 处理layui和bootstrap冲突 ****************************/

/************************ blog start ***********************************/
.blog .blog_line_1 {
    text-align: center;
    margin-left: 5%;
    margin-bottom: 30px;
}

.blog .blog_line_1_1 {
    margin-left: 5%;
}

.blog .blog_line_1_2 {
    margin-bottom: 10px;
}

.blog .blog_edit {
    margin-left: 20px;
    margin-right: 20px;
}

.blog .blog_button {
    margin-left: 0;
    text-align: center;
}

/************************ blog end ***********************************/

/************************ upload image start ***********************************/
.site-demo-upload,
.site-demo-upload img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.site-demo-upload {
    position: relative;
    background: #e2e2e2;
}

.site-demo-upload .site-demo-upbar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -56px;
}

.site-demo-upload .layui-upload-button {
    background-color: rgba(0, 0, 0, .2);
    color: rgba(255, 255, 255, 1);
}

/************************ upload image end ***********************************/

.shadow-box .login_form {
    text-align: center;
    position: absolute;
    left: 50%;
    margin-top: 180px;
    margin-left: -151px;
}

.shadow-box .login_title {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 30px;
}

.shadow-box .login-btn {
    width: 302px;
    line-height: 42px;
    margin-top: 10px;
    color: #fff;
    margin-bottom: 20px;
    border: 0px;
    cursor: pointer;
}

.shadow-box .login-operation {
    border-top: 1px solid #E6E6E6;
    padding-top: 10px;
    width: 302px;
    margin-bottom: 100px;
}

.shadow-box .forget {
    position: relative;
    left: 0;
    float: left;
}

.shadow-box .regin {
    position: relative;
    right: 0;
    float: right;
}

.shadow-box .index {
    position: relative;
    top: 60px;
}